.WeatherForecastDay {
  max-width: 130px;
  border: 1px solid #87ceeb;
  border-radius: 10px;
  border-style: outset;
  display: block;
  margin: 20px auto 40px;
  padding: 20px;
  background-color: #d9ecee;
  text-align: center;
  color: #000080;
}
.five-day-forecast {
  max-width: 730px;
  margin: 0 auto;
}
.forecast-day {
  margin-bottom: 10px;
  font-size: 20px;
}
.forecast-temperature {
  margin-top: 10px;
}
.forecast-temperature-min {
  opacity: 0.7;
  margin-left: 5px;
}
